footer{
    padding: 20px;
    display: block;
    line-height: 2;
    text-align: center;
    background: $background-light;
    font-weight: bold;
    .iconfooter{
        color: $color-light;
    }
    .main_icon-row-home{
        position: relative;
        right: -40%;
        bottom: 20px;
        background: $color-light;
        border-radius: 50%;
        animation-name: saltorow;
        animation-duration: 3s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
    }
}



@media screen and (min-width: 768px){
    footer{
        .main_icon-row-home{
           
        }
    }
  }
  
  @media screen and (min-width: 900px){
    footer{
        .main_icon-row-home{
        }
    }
  }
  